In [1]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.utils import shuffle 
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn import model_selection
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc,roc_auc_score
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, cross_val_score,train_test_split,cross_validate, StratifiedKFold
from sklearn.utils  import shuffle 
import joblib
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.utils import shuffle 
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn import model_selection
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc,roc_auc_score
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df_smote = pd.read_csv("SMOTE增强数据.csv")
# df_smote = shuffle(df_smote) # 这一步没有用，因为最后标准化还是会将数值的顺序进行调整
X = df_smote.iloc[:,:-1]
Y = df_smote["taste_num"]
columns = X.columns
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [8]:
GtBossT = GradientBoostingClassifier(
    random_state=0,
    criterion='friedman_mse',
    loss='deviance',
)

In [ ]:
# class sklearn.ensemble.GradientBoostingClassifier(*, loss='deviance', learning_rate=0.1, n_estimators=100, subsample=1.0, 
#                                                   criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1, 
#                                                   min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, 
#                                                   init=None, random_state=None, max_features=None, verbose=0, 
#                                                   max_leaf_nodes=None, warm_start=False, 
#                                                   validation_fraction=0.1, n_iter_no_change=None, tol=0.0001, ccp_alpha=0.0)[source]

In [10]:
from time import time
begin_time = time()
# Search optimal hyperparameter
n_estimators_range=[int(x) for x in np.linspace(start=10,stop=3010,num=300)]
max_depth_range=[int(x) for x in np.linspace(1,51,num=50)]
min_samples_split_range=[1,2,3,4,5,6,7,8,9,10]
max_features=['sqrt','log2']
# min_samples_leaf=


random_forest_hp_range={'n_estimators':n_estimators_range,
                        'max_depth':max_depth_range,
                        'min_samples_split':min_samples_split_range,
                        }
print(random_forest_hp_range)

estimator_all_roc = GridSearchCV(estimator=GtBossT,
                                 param_grid=random_forest_hp_range,
                                 cv=cv,
                                 n_jobs=-1,
                                 scoring="accuracy",verbose=2)
# %%time
estimator_all_roc.fit(X, Y)
end_time = time()
print({end_time - begin_time})
print(estimator_all_roc.best_params_)
print(estimator_all_roc.best_score_)

{'n_estimators': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 311, 321, 331, 341, 351, 361, 371, 381, 391, 401, 411, 421, 431, 441, 451, 461, 471, 481, 491, 501, 511, 521, 531, 541, 551, 561, 571, 581, 591, 601, 612, 622, 632, 642, 652, 662, 672, 682, 692, 702, 712, 722, 732, 742, 752, 762, 772, 782, 792, 802, 812, 822, 832, 842, 852, 862, 872, 882, 892, 902, 913, 923, 933, 943, 953, 963, 973, 983, 993, 1003, 1013, 1023, 1033, 1043, 1053, 1063, 1073, 1083, 1093, 1103, 1113, 1123, 1133, 1143, 1153, 1163, 1173, 1183, 1193, 1203, 1214, 1224, 1234, 1244, 1254, 1264, 1274, 1284, 1294, 1304, 1314, 1324, 1334, 1344, 1354, 1364, 1374, 1384, 1394, 1404, 1414, 1424, 1434, 1444, 1454, 1464, 1474, 1484, 1494, 1504, 1515, 1525, 1535, 1545, 1555, 1565, 1575, 1585, 1595, 1605, 1615, 1625, 1635, 1645, 1655, 1665, 1675, 1685, 1695, 1705, 1715, 1725, 1735, 1745, 1755, 1765, 1775, 1785, 1795, 1805, 1816, 1826, 1836, 1846, 1856, 1866, 1876, 1886, 1896, 1906, 1916, 1926, 1936, 1946, 1956, 1966, 1976, 1986, 1996, 2006, 2016, 2026, 2036, 2046, 2056, 2066, 2076, 2086, 2096, 2106, 2117, 2127, 2137, 2147, 2157, 2167, 2177, 2187, 2197, 2207, 2217, 2227, 2237, 2247, 2257, 2267, 2277, 2287, 2297, 2307, 2317, 2327, 2337, 2347, 2357, 2367, 2377, 2387, 2397, 2407, 2418, 2428, 2438, 2448, 2458, 2468, 2478, 2488, 2498, 2508, 2518, 2528, 2538, 2548, 2558, 2568, 2578, 2588, 2598, 2608, 2618, 2628, 2638, 2648, 2658, 2668, 2678, 2688, 2698, 2708, 2719, 2729, 2739, 2749, 2759, 2769, 2779, 2789, 2799, 2809, 2819, 2829, 2839, 2849, 2859, 2869, 2879, 2889, 2899, 2909, 2919, 2929, 2939, 2949, 2959, 2969, 2979, 2989, 2999, 3010], 'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51], 'min_samples_split': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
Fitting 5 folds for each of 150000 candidates, totalling 750000 fits

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:922: UserWarning: One or more of the test scores are non-finite: [nan nan nan ...  1.  1.  1.]
  warnings.warn(

{81385.20731568336}
{'max_depth': 1, 'min_samples_split': 2, 'n_estimators': 10}
1.0

In [11]:
tmp = pd.DataFrame(estimator_all_roc.cv_results_)
df_fig = tmp[["mean_test_score","params"]]
df_fig.to_csv("tmp.csv",index=False)

In [12]:
df_fig.shape

(150000, 2)

In [13]:
df_fig["n_estimators"] = 1
df_fig['max_depth'] = 1
df_fig["min_samples_split"] = 1
df_fig

C:\Users\Alex\AppData\Local\Temp/ipykernel_24280/155708207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fig["n_estimators"] = 1
C:\Users\Alex\AppData\Local\Temp/ipykernel_24280/155708207.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fig['max_depth'] = 1
C:\Users\Alex\AppData\Local\Temp/ipykernel_24280/155708207.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fig["min_samples_split"] = 1

,mean_test_score,params,n_estimators,max_depth,min_samples_split
0,NaN,"{'max_depth': 1, 'min_samples_split': 1, 'n_es...",1,1,1
1,NaN,"{'max_depth': 1, 'min_samples_split': 1, 'n_es...",1,1,1
2,NaN,"{'max_depth': 1, 'min_samples_split': 1, 'n_es...",1,1,1
3,NaN,"{'max_depth': 1, 'min_samples_split': 1, 'n_es...",1,1,1
4,NaN,"{'max_depth': 1, 'min_samples_split': 1, 'n_es...",1,1,1
...,...,...,...,...,...
149995,1.0,"{'max_depth': 51, 'min_samples_split': 10, 'n_...",1,1,1
149996,1.0,"{'max_depth': 51, 'min_samples_split': 10, 'n_...",1,1,1
149997,1.0,"{'max_depth': 51, 'min_samples_split': 10, 'n_...",1,1,1
149998,1.0,"{'max_depth': 51, 'min_samples_split': 10, 'n_...",1,1,1
149999,1.0,"{'max_depth': 51, 'min_samples_split': 10, 'n_...",1,1,1

In [14]:
for i in range(0,df_fig.shape[0]):
    dict_tmp = df_fig["params"].iloc[i]
    df_fig["n_estimators"].iloc[i] = dict_tmp["n_estimators"]
    df_fig["max_depth"].iloc[i] = dict_tmp["max_depth"]
    df_fig["min_samples_split"].iloc[i] = dict_tmp["min_samples_split"]
    
df_fig

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,mean_test_score,params,n_estimators,max_depth,min_samples_split
0,NaN,"{'max_depth': 1, 'min_samples_split': 1, 'n_es...",10,1,1
1,NaN,"{'max_depth': 1, 'min_samples_split': 1, 'n_es...",20,1,1
2,NaN,"{'max_depth': 1, 'min_samples_split': 1, 'n_es...",30,1,1
3,NaN,"{'max_depth': 1, 'min_samples_split': 1, 'n_es...",40,1,1
4,NaN,"{'max_depth': 1, 'min_samples_split': 1, 'n_es...",50,1,1
...,...,...,...,...,...
149995,1.0,"{'max_depth': 51, 'min_samples_split': 10, 'n_...",2969,51,10
149996,1.0,"{'max_depth': 51, 'min_samples_split': 10, 'n_...",2979,51,10
149997,1.0,"{'max_depth': 51, 'min_samples_split': 10, 'n_...",2989,51,10
149998,1.0,"{'max_depth': 51, 'min_samples_split': 10, 'n_...",2999,51,10
149999,1.0,"{'max_depth': 51, 'min_samples_split': 10, 'n_...",3010,51,10

In [15]:
df_fig.to_csv("tmp.csv",index=False)